extends layout

block content
  body
    .container.center
        response #{poll.title}
        br
        response #{poll.responses}
        br
        br
        admin admin path: #{adminPath.adminPath}
        br
        vote vote path: #{votePath.votePath}
        br
        br
        br
        sha sha: #{poll.sha}
