extends layout

block content
  body
    .container.center
      .col.s12.m4.l2
        p
        h3 #{poll.title}
        br
        p Admin Dashboard:
        a(href=poll.adminPath) #{poll.adminPath}
        br
        p Voter Poll:
        a(href=poll.votePath) #{poll.votePath}
